*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*idea/firebender
*.agent
.idea/deploymentTargetSelector.xml
*.kotlin/errors
.idea/deviceManager.xml
.idea/appInsightsSettings.xml
.idea/androidTestResultsUserPreferences.xml
compile_log.txt
app/release/app-release.aab
/app/src/main/java/com/br444n/unitwise/app/feature/scann/logcat
/app/src/main/java/com/br444n/unitwise/app/feature/scann/Xiaomi-2207117BPG-Android-13_2026-03-28_224707.logcat
/app/src/main/java/com/br444n/unitwise/app/feature/share/Pixel-4_logcat
/app/src/main/java/com/br444n/unitwise/app/feature/share/PIxel-9